@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Global Styles */

* {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: white;
  border: 0;
  cursor: pointer;
}
/* Header section */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav a {
  text-decoration: none;
  color: #424242;
}
.nav-title {
  text-align: center;
  font-family: Work Sans;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* banner styles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}
.banner-des {
  color: #727272;
  font-weight: 400;
  margin-bottom: 20px;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}

/* Main section */

main {
  max-width: 1440px;
  margin: 70px auto;
}
.feature-list {
  display: flex;
  align-items: center;
}
.feature-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.feature-content {
  padding: 0 70px;
}
.team-titles {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}
#q {
  color: #727272;
  font-weight: 500;
}
#f {
  color: #ff900e;
}
.team-des {
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
.facts {
    margin-top: 130px;
}
.facts-title {
  color: #131313;
  font-family: Work Sans;
  font-size: 2.813rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.81rem;
}
.facts-des {
  color: #727272;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.cards-container {
  display: flex;
  justify-content: space-around;
}
.cards {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px;
  width: 241.831px;


}
.cards-stats {
    color:  #424242;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.cards-info {
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin:10px 0;

}
.cards-container {
  margin-top: 50px;
}
.spon {
  margin-top: 257px;
}
.spon-title {
  text-align: center;
  color:  #131313;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;

}
.spon-des {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}
.spon-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.spon-img-container img {
  filter: grayscale(100%);
}

/* Responsive Header and Banner for Mobile */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .feature-list {
    flex-direction: column;
  }
  .feature-imgs {
    grid-template-columns: 1fr;
    width: 30%
    align-items: center;
    
  }
  .feature-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-ex {
    margin-left: 30%;
  }
  .cards-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .spon-img-container {
    flex-direction: column;
    align-items: center;
    gap:40px;
  }
  .spon-img-container img {
    width: 50%;
  }
  
  
}
/* Responsive Header and Banner for Medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav, .spon-img-container {
    flex-direction: column;
  }
  header {
    padding: 50px;
  }
}
/* Responsive Header and Banner for Medium Laptop */
@media screen and (min-width: 1080px) and (max-width: 1366px) {
  .nav-title {
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 33px;
  }
}
